<div class="invalid-link-page">
    <div class="row">
        <div class="col-sm-8">
            <h3>
                This link is no longer valid
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                This Secret link is invalid. Please contact Acme to generate a new Secret.
        </div>
    </div>
</div>
