@model Acme.IdentityServer.WebApi.Controllers.ResetClientSecretController.SecretKeyModel
<link href="~/css/reset-client-secret-key.css" rel="stylesheet" type="text/css" />

<div class="secret-key-page">
    <div class="row">
        <div class="col-sm-8">
            <h3>
                Secret Key
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Acme has generated a new Secret to secure your API connection. The Secret displayed below invalidates all previous Secrets. API connectivity is discontinued until this Secret is applied. Effective immediately, this Secret must be used to successfully connect to our APIs. Use the copy button to copy the Secret to your clipboard.
            </p>
        </div>
    </div>

    <div class="row secret-key-input-row">
        <div class="col-sm-8 secret-key-input-container">
            <input class="secret-key-input" type="text" id="secretKeyTxt" disabled value="@Model.SecretKey" />
            <span onclick='copyToClipboard("@Model.SecretKey")'><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z" /></svg></span>
        </div>
    </div>

    <div>
        <div class="col-sm-8 secret-key-copy-text-container">
            Secret has been copied to your clipboard.
        </div>
    </div>

</div>

@section scripts
{
        <script src="~/js/shared.js"></script>
}
