
.btn {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 12px;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.btn-primary {
        background-color: #0077C8;
    }
}

.verification-input {
    width: 80%;
    border: 0;
    outline: none;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    padding-left: 9px;
    padding-bottom: 2px;
    color: #62666A;
    line-height: 16px;
    font-weight: 300;
    display: inline-block;
}


    .verification-input[type="number"] {
        width: 145px;
        letter-spacing: 15.5px;
        color: #808080;
        display: inline;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='140' y1='100%' x2='0' y2='100%' fill='none' stroke='gray' stroke-width='3' stroke-dasharray='13%2c10' stroke-dashoffset='39' stroke-linecap='square'/%3e%3c/svg%3e");
    }

        .verification-input[type="number"]::-webkit-outer-spin-button,
        .verification-input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }


.verification-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 15px 10px;
    background: #FFFFFF;
    width: 200px;
    /* Primary/Grey/24 */
    border: 2px solid #BBBCBE;
    box-sizing: border-box;
    border-radius: 8px;
}

.btn-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.check-mark {
    display: none;
    color: #0077C8;
    max-width: 135px;
    transform: scale(1.2);
}

div.warning-reveal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

    div.warning-reveal-container > * {
        height: 20px;
    }

@media (min-width: 768px) {
    div.warning-reveal-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.warning {
    font-weight: bold;
    font-size: 12px;
    color: #E38F35;
}

span.field-validation-error {
    display: block;
    font-size: 12px;
    color: #CF5817;
    margin-top: 10px;
}


svg {
    color: #0077C8;
}

input[type="text"] {
    font-family: monospace; /* That's the trick here */
    background-image: url("data:image/svg+xml,%3csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='100%' y1='100%' x2='4' y2='100%' fill='none' stroke='black' stroke-width='4' stroke-dasharray='10%2c12' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
}
