
.secret-key-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 16px 14.5px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    /* White/100 */
    background: #FFFFFF;
    /* Grey/24 */

    border: 1px solid #BBBCBE;
    box-sizing: border-box;
    border-radius: 8px;
}

span {
    display: block;
    overflow: hidden;
    padding-right: 25px;
    position: absolute;
    top: 17px;
    right: 0px;
    cursor: pointer;
}

.secret-key-input-container {
    position: relative;
}

.secret-key-copy-text-container {
    /* Auto Layout */

    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    position: static;
    /* Primary/Blue/12 */

    background: #E0EFF8;
    border-radius: 8px;
    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 16px;
}

.secret-key-input-row {
    margin-right: -30px;
}
