<header>

    <h1 class="text-2xl font-bold uppercase tracking-wider w-full text-center">
        Coeus Whiskey
    </h1>
    <div class="w-full text-center mx-auto text-gray-500 tracking-wide uppercase text-sm">
        The best whiskey selection online
    </div>
    <nav class="border-y border-gray-100 my-4">
        <ul>
            <li><a routerLink="/catalog">Catalog</a></li>
            <li><a routerLink="/orders">Orders</a></li>
            <li><a routerLink="/checkout">
                    {{quantity$ | async}} cart items
                </a>
            </li>
        </ul>
    </nav>
</header>