<header>
    <h1 class="text-2xl font-bold uppercase tracking-wider w-full text-center">Coeus Whiskey</h1>
    <div class="w-full text-center mx-auto text-gray-500 tracking-wide uppercase text-sm">The best whiskey selection online</div>
    <nav class="border-y border-gray-100 my-4">
        <ul>
            <li><a routerLink="/catalog/items" routerLinkActive="active">Catalog</a></li>
            <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
            <li>
                <a routerLink="/checkout"routerLinkActive="active"> {{ quantity$ | async }} cart items </a>
            </li>
        </ul>
    </nav>

    <button (click)="signIn()" *ngIf="!user">Sign in</button>
    <pre>{{ user?.name }}</pre>
</header>
